* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: white;
  color: black;
}

img{
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

li {
  margin: 10px 0;
  margin-left: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 2px;
  text-align: center;
  border: 1px solid white;
}

th {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

:root {
  --body-color: rgb(37, 37, 37);
  --main-color: rgb(24, 24, 24)
}

.background-video {
  display: none;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  margin: auto;
  width: 100%;
  height: 100%;
}

.light-bulb {
  display: none;
  position: absolute;
  top: 8px;
  right: 9px;
  z-index: -1;

  width: 22px;
  height: 22px;
  margin: auto;

  border-radius: 50%;
  background: gold;
  box-shadow: 0 0 2px gold;

  animation: bulb-pulsate 2s infinite alternate;
}

@keyframes bulb-pulsate {
  to {
    box-shadow: 0 0 20px gold;
  }
}

.anchor {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 20px;

  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px white;
}

.body {
  background: url(733a837a5dee8ee070a4.png);
  background-repeat: repeat;
  background-size: 512px;
  background-color: var(--body-color);
}

.header {
  padding: 5px 0;
  text-align: center;

  background-color: rgba(24, 24, 24, 0.7);
  backdrop-filter: blur(1px);
}

.header__nav-button {
  display: inline-flex;
  height: 50px;
  padding: 0px 15px;
  text-align: center;
  align-items: center;
  border-radius: 10px;

  font-size: 20px;
  color: white;
  line-height: 0;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);

  cursor: pointer;

  transition: all 0.3s;

  @media (min-width: 320px) and (max-width: 748px) {
    font-size: 18px;
    height: 40px;
  }

  @media (max-width: 320px) {
    font-size: 17px;
    height: 40px;
  }
}

.header__nav-button:hover {
  font-size: 22px;

  @media (min-width: 320px) and (max-width: 748px) {
    font-size: 20px;
  }

  @media (max-width: 320px) {
    font-size: 19px;
  }
}

.header__nav-button:focus {
  font-size: 22px;

  @media (min-width: 320px) and (max-width: 748px) {
    font-size: 20px;
  }

  @media (max-width: 320px) {
    font-size: 19px;
  }
}

.header__action-button {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;

  cursor: pointer;
}

.header__nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  margin: 20px auto;
  padding: 20px;
  max-width: 1280px;
  width: 100%;

  font-size: 20px;

  color: white;
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
}

.logo {
  margin: 20px 0;

  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  text-shadow: 3px 3px 3px rgb(136, 136, 136);

  transition: all 0.3s;

  @media (min-width: 520px) and (max-width: 768px) {
    font-size: 44px;
  }

  @media (max-width: 520px) {
    font-size: 38px;
  }

  @media (max-width: 420px) {
    font-size: 34px;
  }

  @media (max-width: 320px) {
    font-size: 32px;
  }
}
.input-field {
  height: 30px;
  width: 100px;
  height: auto;
  padding: 5px;

  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s;

  @media (max-width: 748px) {
    font-size: 18px;
  }
}

.input-field_select {
  width: auto;
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  font-size: 22px;

  transition: all 0.3s;

  @media (max-width: 748px) {
    font-size: 18px;
  }
}

.result {
  margin: 40px 0;
  display: flex;
  justify-content: space-evenly;
}

.result__value {
  padding: 0 5px;
  display: flex;
  gap: 20px;
  font-size: 22px;
  text-align: center;
  flex-direction: column;

  @media (min-width: 320px) and (max-width: 748px) {
    font-size: 20px;
  }

  @media (max-width: 320px) {
    font-size: 18px;
  }
}

.result__header {
  font-weight: 900;
  font-size: 34px;

  @media (min-width: 320px) and (max-width: 748px) {
    font-size: 30px;
  }

  @media (max-width: 320px) {
    font-size: 26px;
  }
}

.table {
  position: relative;
  margin-top: 20px;
  padding: 10px;

  border: 1px solid white;
  border-radius: inherit;
}

.table__header {
  padding: 10px;
  height: 70px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  font-size: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;

  @media (max-width: 768px) {
    font-size: 16px;
    height: 60px;
  }

  @media (min-width: 520px) and (max-width: 768px) {
    font-size: 14px;
    height: 50px;
  }

  @media (max-width: 520px) {
    font-size: 12px;
    height: 45px;
  }
}

.table__header_extended {
  grid-template-columns: repeat(7, 1fr);
}

.table__logic-block {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}

.table__characteristic {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  margin: auto;
  width: 50%;
  height: calc(100% - 40px);

  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  box-shadow: 0 0 14px rgb(255, 255, 255);

  transition: width 0.5s;

  @media (max-width: 768px){
    width: 60%;
  }

  @media (max-width: 520px){
    width: 70%;
  }
}

.table__characteristic-name {
  margin-top: 3px;
  padding: 0 5px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  font-size: 26px;
  font-weight: 900;
  text-align: center;

  @media (min-width: 520px) and (max-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 320px) and (max-width: 520px) {
    font-size: 20px;
  }

  @media (max-width: 320px) {
    font-size: 20px;
  }
}

.table__attribute {
  position: relative;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 8px white;
  background-color: var(--main-color);

  z-index: 1;
}

.table__stroke {
  margin-bottom: 30px;
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-evenly;

  font-size: 18px;

  @media (max-width: 520px){
    font-size: 16px;
  }
}

.table__stroke_extended {
  grid-template-columns: repeat(7, 1fr);
}

.table__radio-button {
  width: 30px;
  height: 30px;

  cursor: pointer;
}

.table__radio-button:disabled {
  cursor: not-allowed;
}

.table__factor-type {
  margin-bottom: 30px;
  padding: 5px;

  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid;

  @media (min-width: 520px) and (max-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 320px) and (max-width: 520px) {
    font-size: 18px;
  }

  @media (max-width: 320px) {
    font-size: 16px;
  }
}

.table__handler-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  text-align: center;
}

