.logo {
  color: white;
  font-size: 48px;
  font-weight: 900;
  text-shadow: 3px 3px 3px rgb(136, 136, 136);

  transition: all 0.3s;

  @media (min-width: 520px) and (max-width: 768px) {
    font-size: 44px;
  }

  @media (max-width: 520px) {
    font-size: 38px;
  }

  @media (max-width: 420px) {
    font-size: 34px;
  }

  @media (max-width: 320px) {
    font-size: 32px;
  }
}